<ion-header>
  <ion-toolbar>
    <ion-title>category-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>



<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="speakers">
      <ion-icon name="basket-outline"></ion-icon>
      <a routerLink="/home">Shopping List</a>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="pricetag-outline"></ion-icon>
      <a routerLink="/category-list">Category List</a>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>