<ion-header>
  <ion-toolbar>
    <ion-title>category-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button routerLink="/">
        <ion-icon name="basket-outline"></ion-icon>
        <ion-label>Shopping List</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/category-list">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>Category List</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs> -->

</ion-content>



