<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>


  <div>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label>
          <span>{{item.category.name}}</span>
          <h3>{{item.item_name}}</h3>
          <div>
            <span>{{item.price | currency}}</span>
            <span>{{item.quantity}}</span>
            <span>{{item.price * item.quantity}}</span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>




<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="speakers">
      <ion-icon name="basket-outline"></ion-icon>
      <a routerLink="/home">Shopping List</a>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="pricetag-outline"></ion-icon>
      <a routerLink="/category-list">Category List</a>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
